simple/client/node_modules
simple/comments/node_modules
simple/event-bus/node_modules
simple/moderation/node_modules
simple/posts/node_modules
simple/query/node_modules
ts-playground
complex/auth/node_modules
complex/config
complex/client/node_modules
complex/client/.next
complex/tickets/node_modules
complex/orders/node_modules
nats-test/node_modules
complex/expiration/node_modules
complex/payments/node_modules